{{- $name := promptStringOnce . "name" "Git user name" -}}
{{- $email := promptStringOnce . "email" "Git email" -}}
{{- $is_main := promptStringOnce . "is_main_raw" "Is this the main (homebrew admin) account? (yes/no)" -}}

[data]
    name = {{ $name | quote }}
    email = {{ $email | quote }}
    is_main_account = {{ eq $is_main "yes" }}
